/*
---------------------
checked 28.06.14
---------------------
*/
.ak_show_xs {
	display: none !important;
	}

.ak_show_sm {
	display: none !important;
	}

.ak_show_md {
	display: none !important;
	}

.ak_show_lg {
	display: none !important;
	}

.ak_show_xl {
	display: none !important;
	}

/* xs - phones portrait */
@media (max-width: 479px) {

	.ak_show_xs {
		display: block !important;
		}

	span.ak_show_xs {
		display: inline !important;
		}

	.ak_hide_xs {
		display: none !important;
		}
	}

/* sm - phones landscape */
@media (min-width: 480px) and (max-width: 767px) {

	.ak_show_sm {
		display: block !important;
		}

	span.ak_show_sm {
		display: inline !important;
		}

	.ak_hide_sm {
		display: none !important;
		}
	}

/* md - tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {

	.ak_show_md {
		display: block !important;
		}

	span.ak_show_md {
		display: inline !important;
		}

	.ak_hide_md {
		display: none !important;
		}
	}

/* lg - desktops & tablets landscape */
@media (min-width: 960px) and (max-width: 1199px) {

	.ak_show_lg {
		display: block !important;
		}

	span.ak_show_lg {
		display: inline !important;
		}

	.ak_hide_lg {
		display: none !important;
		}
	}

/* xl - large desktops */
@media (min-width: 1200px) {

	.ak_show_xl {
		display: block !important;
		}

	span.ak_show_xl {
		display: inline !important;
		}

	.ak_hide_xl {
		display: none !important;
		}
	}